html,
body {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  color: rgb(87, 46, 30);
  background-color: rgb(24, 228, 255);
  /* background-color: black; */
}

.card {
  position: relative;
  bottom: 0;
  animation-name: slidein;
  animation-duration: 0.5s;
  height: 100px;
  width: 68px;
  /* float: left; */
  border-radius: 6%;
  background-color: rgb(255, 234, 49);
  border: 1px solid hotpink;

  background-size: contain;
  margin-right: 10px;
  background-repeat: no-repeat;
}

.app-container {
  /* display: flex;
  flex-direction: column;
  align-content: space-between; */
  margin: 15px;
  height: 100%;
}

.flop-container {
  display: flex;
  width: 100%;
}

.hand-container {
  margin-top: 50px;
  display: flex;
  position: fixed;
  width: 100%;
  bottom: 10px;
}

.hand-container > .card {
  margin-top: 10px;
  transition: margin-top 0.5s;
}

.hand-container > .card:hover {
  margin-top: 0;
}

.scoreboard {
  font-size: 140%;
  padding: 50px;
  list-style-type: none;
}

.result-overlay-container{
    /* background-color: white; */
}

.result-overlay{
    /* padding: 15%; */
    background-color: #ff1fbce5;
    color: rgb(0, 183, 255);
    font-size: 300%;
    margin:25px;
    padding:75px;
}

.shuffle-overlay{
  background-color: hotpink;
  display: flex;
  justify-content: space-around;
}

.shuffle-container:nth-child(2n){
  animation-delay: 0.5s;
}

.shuffle-text{
  font-size: 600%;
  animation: flashtext 0.5s forwards;
  animation-iteration-count: infinite;
}

.overlay{
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.center{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hidden{
  display:none;
}

* {
  font-family: dos, sans-serif;
}

@keyframes slidein {
  0% {
    bottom: 2000px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes flashtext {
  0% {
    color:crimson;
  }
  25%{
    color:magenta;
  }
  50%{
    color:aqua;
  }
  75%{
    color:powderblue;
  }
  100%{
    color:crimson;
  }
}

@font-face {
  font-family: DOS;
  src: url(fonts/Perfect\ DOS\ VGA\ 437.ttf);
}
