:root {
  --black: #000000;
  --blue: #0000aa;
  --green: #00aa00;
  --cyan: #00aaaa;
  --red: #aa0000;
  --magenta: #aa00aa;
  --brown: #aa5500;
  --light-grey: #aaaaaa;
  --bright-black: #555555;
  --bright-blue: #5555ff;
  --bright-green: #55ff55;
  --bright-cyan: #55ffff;
  --bright-red: #ff5555;
  --bright-magenta: #ff55ff;
  --bright-yellow: #ffff55;
  --bright-white: #ffffff;
}

html,
body {
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  color: var(--brown);
  background-color: var(--blue);
  /* background-color: black; */
}

a {
  color: inherit;
}

.card {
  position: relative;
  bottom: 0;
  animation-name: slidein;
  animation-duration: 0.5s;
  height: 100px;
  width: 68px;
  /* float: left; */
  border-radius: 6%;
  background-color: var(--bright-yellow);
  border: 1px solid var(--bright-red);

  background-size: contain;
  margin-right: 10px;
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

.app-container {
  /* display: flex;
  flex-direction: column;
  align-content: space-between; */
  margin: 15px;
  height: 100%;
}

.flop-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.flop-container > .card {
  margin-right: -10px;
}

.hand-container {
  margin-top: 50px;
  display: flex;
  position: fixed;
  width: 100%;
  bottom: 10px;
}

.hand-container > .card {
  margin-top: 10px;
  transition: margin-top 0.5s;
}

.hand-container > .card:hover {
  margin-top: 0;
}

.scoreboard {
  font-size: 140%;
  padding: 50px;
  list-style-type: none;
}

.scoreboard li{
  width: fit-content;
  padding: 2px;
}

.score-flash{
  animation: scoreflash 0.25s forwards;
  animation-iteration-count: 4;
  animation-timing-function: steps(1);
}

.result-overlay {
  /* padding: 15%; */
  background-color: var(--bright-magenta);
  color: var(--bright-cyan);
}

.result-text {
  font-size: 270%;
  margin: 25px;
  padding: 75px;
}

.result-controls {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.button {
  padding: 10px;
  border: 2px solid var(--bright-cyan);
  float: left;
  font-size: 100%;
}

.shuffle-overlay {
  background-color: var(--bright-magenta);
  display: flex;
  justify-content: space-around;
}

.shuffle-container:nth-child(2n) {
  animation-delay: 0.5s;
}

.shuffle-text {
  font-size: 600%;
  animation: flashtext 0.5s forwards;
  animation-iteration-count: infinite;
  animation-timing-function: steps(1);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.hidden {
  display: none;
}

* {
  font-family: dos, sans-serif;
}

@keyframes slidein {
  0% {
    bottom: 2000px;
  }
  100% {
    bottom: 0;
  }
}

@keyframes flashtext {
  0% {
    color: crimson;
  }
  25% {
    color: magenta;
  }
  50% {
    color: aqua;
  }
  75% {
    color: powderblue;
  }
  100% {
    color: crimson;
  }
}

@keyframes scoreflash {
  0% {
    background-color: var(--brown);
    color: var(--blue);
  }
  33% {
    background-color: var(--blue);
    color: var(--brown);
  }
  66% {
    background-color: var(--brown);
    color: var(--blue);
  }
  100% {
    background-color: reset;
    color: reset;
  }
}

@font-face {
  font-family: DOS;
  src: url("fonts/Perfect\ DOS\ VGA\ 437.ttf");
}
